.schoolContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.schoolContainer button {
    margin-right: 10px;
}
.school {
    width: 30%;
    border: #1A1409 solid 1px;
    text-align: left;
    background-color: #E5DABD;
    border-radius: 5px;
    margin: 10px;
}

.school img {
    width: 100%;
}

.school .info {
    padding: 10px;
}

.funds {
    color: red;
}