.App {
  text-align: center;
  background-color: #81905A;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  align-items: center;
}

#navlinks {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.createForm {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-group {
  width: 40%;
  margin: 10px;
}

#addBtn {
  width:  60%;
  margin: 20px;
}
#updateBtn {
  width:  60%;
  margin: 20px;
}
.createForm label {
  color: white;
  font-weight: 500;
  font-size: 30px;

}

.createForm input {
  color: #AE4110;
}

footer {
  display: flex;
  background-color: #AE4110;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  position: absolute;
  bottom: 0
}

.navlinks {
  display: flex;
  align-items: center;
}

.navlinks p {
  margin: 20px;
}